@use "../../variables" as *;

.contact-form__container {
  background-color: $color-grey;
  padding: $spacing-md;

  @media (min-width: $bp-md) {
    padding: $spacing-2xl;
  }

  @media (min-width: $bp-xl) {
    padding: $spacing-3xl;
  }
}

.contact-form {
  background-color: $color-brand-blue;
  padding: $spacing-md;

  @media (min-width: $bp-md) {
    padding: $spacing-2xl;
  }

  @media (min-width: $bp-xl) {
    padding: $spacing-3xl;
  }
}

.contact-form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
}

.contact-form__h2 {
  color: $color-brand-pink;
}
